<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>292432799683-ut8eg68vgbi1k0ejfg18qvvf687nnc93.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.292432799683-ut8eg68vgbi1k0ejfg18qvvf687nnc93</string>
	<key>API_KEY</key>
	<string>AIzaSyC1cbsGs5D-bfLyjKrw1NJfFetV8g7GqpI</string>
	<key>GCM_SENDER_ID</key>
	<string>292432799683</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.myRescue</string>
	<key>PROJECT_ID</key>
	<string>myrescuedb-586c9</string>
	<key>STORAGE_BUCKET</key>
	<string>myrescuedb-586c9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:292432799683:ios:dfd5425bd53681aaf07f76</string>
</dict>
</plist>